h1
{
  color: #3E8821;
}
body
{
  background:#D4EFFF;
}
img
{
  border: 3px solid #000000;
}
p
{
  color: #000000;
}

#photoCredit
{
  resize: small;
}

#histParagraph
{
  border: 2px solid #000000;
}

#habitatsParagraph
{
  border: 2px solid #000000;
}

